.section1 {
    padding: 100px 30px 30px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.sec1DetailsWrapper {
    order: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sec1DetailsWrapper > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.sec1DetailsWrapper > div > h1 {
    font-weight: bold;
    color: var(--yellowText);
}
.sec1DetailsWrapper > button {
    background: var(--yellowText);
    padding: 10px 50px;
}
.sec1ImagesWrapper {
    position: relative;
    min-height: 300px;
}
.sec1ImagesWrapper > div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    transition: 2s;
}
.sec1ImageShow {
    opacity: 1;
    transform: translate(-50%, -50%);
}
.sec1ImageHide {
    opacity: 0;
    transform: translate(-70%, -50%);
}
.sec1ImagesWrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    pointer-events: none;
}


/* settings */
.section1 .overflowMenuPanel {
    padding: 10px;
    max-width: 55%;
}
.darkMode .section1 .overflowMenuPanel{
    background-color: #33333377;
}
.lightMode .section1 .overflowMenuPanel{
    background-color: #ffffff44;
}
.section1 .overflowMenuButton, .section1 .overflowMenuPanel {
    top: 70px;
    left: 10px;
}
.section1 .overflowMenuPanel > label,
.section1 .overflowMenuPanel > p {
    cursor: pointer;
    padding: 10px;
}
.darkMode .section1 .overflowMenuPanelImageWrapper > h5 {
    color: #ff8787;
}
.lightMode .section1 .overflowMenuPanelImageWrapper > h5 {
    color: #c40000;
}


/* Laptop */
@media (min-width: 1024px) {
    .section1 {
        flex-direction: row;
        align-items: center;
        padding: 70px 30px 10px;
    }
    .sec1DetailsWrapper {
        width: 40%;
    }
    .sec1DetailsWrapper > div > h1 {
        font-size: 40px;
    }
    .sec1DetailsWrapper > h5 {
        padding: 0 100px;
    }
    .sec1ImagesWrapper {
        width: 60%;
        min-height: 400px;
        order: 1;
    }
    .sec1ImagesWrapper > div {
        width: 400px;
        height: 400px;
    }
    .section1 .overflowMenuPanel {
        width: fit-content;
    }
    .section1 .overflowMenuPanel > label {
        margin-bottom: 5px;
    }
    .section1 .overflowMenuPanel > label,
    .section1 .overflowMenuPanel > p {
        font-size: 14px;
    }
}