.shoppingCartWrapper {
    z-index: 900;
    position: fixed;
    top: 50px;
    width: 70%;
    border-bottom: solid 0.5px;
    border-left: solid 0.5px;
    padding: 10px;
    gap: 10px;
    border-radius: 0 0 0 10px;
    transition: right 0.5s;
}
.lightMode .shoppingCartWrapper {
    box-shadow: -3px 3px 3px #00000033;
}
.shoppingCartWrapper > button {
    background: #00a305;
    color: white;
    padding: 10px;
}
.shoppingCartInnerWrapper {
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 400px;
    gap: 10px;
}
.cartItem {
    position: relative;
    width: 100%;
    min-height: 60px;
    border-radius: 20px;
}
.cartItem > div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}
.cartItemWrapper {
    z-index: 1;
    transform: translateX(0%);
    transition: 0.3s;
}
.darkMode .cartItemWrapper {
    color: #fff;
    background-image: radial-gradient(circle at 0% 0%, #23344f, transparent 40%);
    background-color: #1E2126;
}
.lightMode .cartItemWrapper {
    color: #000;
    background-image: radial-gradient(circle at 0% 0%, #4fbeffa3, transparent 40%);
    background-color: #F1EEE0;
}
.cartItemWrapperDeleted {
    transform: translateX(-100%);
}
.darkMode .cartItemWrapper {
    border: solid 0.5px #aaa;
}
.lightMode .cartItemWrapper {
    border: solid 0.5px #555;
}
.cartItemImageWrapper {
    width: 40%;
    height: 100%;
}
.cartItemImageWrapper > img {
    width: 90%;
    height: 90%;
    object-fit: contain;
}
.cartItemDetailsWrapper {
    width: 40%;
}
.cartItemDeleteWrapper {
    width: 20%;
    text-align: center;
    height: 100%;
    cursor: pointer;
}
.cartItemBackground {
    z-index: 0;
    background: #d04;
}


/* Laptop */
@media (min-width: 1024px) {
    .shoppingCartWrapper {
        width: 250px;
        top: 60px;
    }
    .shoppingCartInnerWrapper {
        max-height: 300px;
    }
}