:root {
    --yellowText: #e4ab24;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    line-height: 1.3rem;
    word-spacing: 0.2rem;
    user-select: none;
    -webkit-user-select: none;
    resize: none;
    font-family: "Dosis", sans-serif;
    font-weight: normal;
}
body.darkMode {
    background: #1E2126;
}
body.lightMode {
    background: #F1EEE0;
}
.darkMode header,
.darkMode section,
.darkMode .itemSectionsNav,
.darkMode .shoppingCartWrapper {
    color: #fff;
    background-image: radial-gradient(circle at 0% 0%, #23344f, transparent 40%);
    background-color: #1E2126;
}
.lightMode header,
.lightMode section,
.lightMode .itemSectionsNav,
.lightMode .shoppingCartWrapper {
    color: #000;
    background-image: radial-gradient(circle at 0% 0%, #4fbeffa3, transparent 40%);
    background-color: #F1EEE0;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    white-space: nowrap;
}
button:hover {
    filter: brightness(110%);
}
button, input, textarea {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    touch-action: manipulation;
}
.relatived {
    position: relative;
}
.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gap10 {
    gap: 10px;
}
.flexColumn10 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Shining line */
.darkMode .shiningTop {
    border-top: 0.7px solid transparent;
    border-image: radial-gradient(circle at 50% 0, #fff, transparent 70%);
    border-image-slice: 1;
}
.lightMode .shiningTop {
    border-top: 0.7px solid transparent;
    border-image: radial-gradient(circle at 50% 0, #000, transparent 70%);
    border-image-slice: 1;
}
.darkMode .shiningBottom {
    border-bottom: 0.7px solid transparent;
    border-image: radial-gradient(circle at 50% 0, #fff, transparent 70%);
    border-image-slice: 1;
}
.lightMode .shiningBottom {
    border-bottom: 0.7px solid transparent;
    border-image: radial-gradient(circle at 50% 0, #000, transparent 70%);
    border-image-slice: 1;
}
.hiddenSection {
    z-index: 100;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    text-align: center;
    font-size: 200px;
    opacity: 0.1;
}
.itemButtonLabel {
    position: absolute;
    top: 30%;
    right: 35%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e05;
    color: #fff !important;
    pointer-events: none;
}
.centeredElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Settings */
.overflowMenuButton {
    z-index: 100;
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.overflowMenuButton > div {
    width: 3px;
    height: 3px;
    border-radius: 50%;
}
.darkMode .overflowMenuButton > div {
    background-color: #fff;
}
.lightMode .overflowMenuButton > div {
    background-color: #000;
}
.overflowMenuPanel {
    z-index: 200;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    padding: 15px;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    transform: translateX(-20%);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}
.overflowMenuPanelOn {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: all;
}
.darkMode .overflowMenuPanel {
    border: solid 0.5px #555;
    border-top: solid 0.5px #aaa;
    background-color: #55555522;
}
.lightMode .overflowMenuPanel {
    border: solid 0.5px #fff;
    border-top: solid 1px #fff;
    background-color: #ffffff33;
}
.overflowMenuPanel > h5 {
    padding: 5px;
    cursor: pointer;
}
.overflowMenuPanel > h5:hover {
    background-color: #ffffff11;
}
.overflowMenuPanelImageWrapper {
    position: relative;
    overflow-y: hidden;
    transition: 0.5s;
}
.overflowMenuGallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px 10px 10px 10px;
}
.overflowMenuPanelImageWrapper > h5 {
    position: absolute;
    top: 0;
    left: 15px;
}
.overflowMenuPanelImageContainer {
    width: calc(100%/3 - 20px/3);
    height: 50px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}
.darkMode .overflowMenuPanelImageContainer {
    border: solid 0.5px #ffffff55;
}
.lightMode .overflowMenuPanelImageContainer {
    border: solid 0.5px #00000088;
}
.overflowMenuPanelImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.overflowMenuPanel i,
.addUpdateItemForm i {
    margin-right: 10px;
}

/* add update item form */
.addUpdateItemForm {
    overflow-y: hidden;
    transition: 0.5s;
}
.formInnerWrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 30px 30px;
    border-bottom: solid 0.5px;
}
.closeFormButton {
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
}
.formInnerWrapper > div > input,
.formInnerWrapper > div > textarea {
    width: 100%;
}
.labelButtonWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.labelButtonWrapper > label {
    background: rgb(223, 182, 87);
    width: fit-content;
    padding: 5px 20px;
    border-radius: 5px;
    width: 50%;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
}
.labelButtonWrapper > label:hover {
    filter: brightness(110%);
}
.labelButtonWrapper > label > input[type=file] {
    display: none;
}
.labelButtonWrapper > button {
    background: rgb(30, 127, 211);
    color: #fff;
    width: 50%;
}


@media (min-width: 1024px) {
    .overflowMenuPanel {
        width: fit-content;
        padding: 10px;
        gap: 5px;
    }
    .overflowMenuPanel > h5 {
        padding: 10px 20px;
    }
    .overflowMenuPanelImageWrapper > h5 {
        font-size: 10px;
    }
    .overflowMenuGallery {
        max-width: 200px;
    }
    .overflowMenuPanelImageContainer {
        height: 50px;
    }
    .hiddenSection {
        transform: translate(-50%, -50%) rotate(20deg);
        font-size: 300px;
    }
}