.section3 {
    position: relative;
    border-top: solid 0.5px;
    border-bottom: solid 0.5px;
    padding: 0 30px 40px 30px;
}
.section3 .overflowMenuButton {
    left: 5px;
}
.section3 > h1 {
    padding: 40px 0;
    text-align: center;
}
.sec3Item {
    position: relative;
    gap: 10px;
    padding: 20px;
    overflow-x: hidden;
}
.sec3Item > div {
    width: 50%;
}
.sec3DetailsWrapper {
    position: relative;
}
.sec3ImageWrapper {
    width: 200px;
    height: 200px;
}
.sec3Image {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.sec3DetailsWrapper > h3 {
    font-weight: bold;
    margin-bottom: 5px;
}
.sec3Item:nth-of-type(even) {
    border-left: solid 0.5px;
    border-bottom: solid 0.5px;
}
.sec3Item:nth-of-type(odd) {
    border-right: solid 0.5px;
    border-bottom: solid 0.5px;
}
.sec3Item:nth-of-type(odd):nth-child(1) {
    border-top: solid 0.5px;
}
.sec3Item:nth-of-type(odd) .sec3ImageWrapper {
    order: 2;
}
.sec3Item:nth-of-type(odd) .sec3DetailsWrapper {
    text-align: right;
}
.darkMode .sec3DetailsWrapper > h3 {
    color: var(--yellowText)
}
.darkMode .sec3DetailsWrapper > h4 {
    color: #ffffffaa;
}

/* settings */
.section3 .overflowMenuPanel {
    top: 10px;
    left: 10px;
}
.section3 .closeFormButton {
    padding-top: 10px;
}
.section3 .formInnerWrapper {
    border-bottom: solid 0.5px;
}
.sec3Item .overflowMenuButton {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.sec3Item:nth-of-type(odd) .overflowMenuButton {
    left: unset;
    right: 0;
}


/* Laptop scale */
@media (min-width: 1024px) {
    .sec3ItemsWrapper {
        width: 60%;
        margin: 0 auto;
    }
    .sec3ImageWrapper {
        max-width: 30%;
    }
    .sec3DetailsWrapper {
        width: 70%;
    }
}