.passwordPageWrapper {
    min-height: 100vh;
}
.passwordPageWrapper > form {
    justify-content: center;
}
.passwordPageWrapper > form > input {
    border: solid 0.5px;
}
.passwordPageWrapper > form > button {
    background: #07a;
    color: #fff;
}